.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.field {
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
}

.title {
  text-decoration: underline;
  color: blue;
  text-shadow: 4px 1px 2px black;
  font-size: 4em;
  font-weight: 1000;
  margin: 0;
}

#addBtn {
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  padding: 20px;
  background-color: rgb(12, 194, 255);
  border-radius: 7px;
  border: 2px black solid;
  transition: opacity 0.4s;
  transition: transform 0.3s;
}

#addBtn:hover {
  opacity: 0.6;
  cursor: pointer;
  transform: scale(1.2);
}

.playersForm {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 6px;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 10px 6px rgb(12, 194, 255);
  transform: scale(0);
}

label[for="player2"] {
  margin-top: 20px;
}

label {
  margin-bottom: 12px;
}

input {
  height: 30px;
  border-radius: 6px;
  border: 2px solid #ccc;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: rgb(12, 194, 255);
  outline: none;
}

input:not(:focus) {
  border-color: #ccc;
}

#submitBtn {
  background-color: rgb(12, 194, 255);
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 3px;
  transition: opacity 0.3s;
  transition: transform 0.3s;
}

#submitBtn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}
